
  @font-face {
    font-family: 'Quadratur';
    src: url('../assets/fonts/QuadraturFINALoptischerAusgleichVF.ttf') format('truetype');
  }
  body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    height: 100vh;
        background:-moz-linear-gradient rgb( 0,0,0), rgb(255, 255, 255);
    overflow: hidden; /* Body scroll nicht nötig */
   color: rgb(43, 13, 13);
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;

 
    display: flex;
    align-items:baseline;
    justify-content:left;
    z-index: 10;
   
  }
  h1 {
    font-family: Quadratur;
    font-variation-settings: 'wght'100,  'SERF'100;
    margin-left: 2vw;
    margin-top: 2vh;
    font-size: 1em;
    letter-spacing: 0em;
   
  }
  .animated-text span {
  display: inline-block;
  letter-spacing: 0em;
  
  
  animation: fadeUp 5s infinite;
}

/* Delay pro Buchstabe mit nth-child */
.animated-text span:nth-child(1)  { animation-delay: 0s; }
.animated-text span:nth-child(2)  { animation-delay: 0.1s; }
.animated-text span:nth-child(3)  { animation-delay: 0.2s; }
.animated-text span:nth-child(4)  { animation-delay: 0.3s; }
.animated-text span:nth-child(5)  { animation-delay: 0.4s; }
.animated-text span:nth-child(6)  { animation-delay: 0.5s; }
.animated-text span:nth-child(7)  { animation-delay: 0.6s; }
.animated-text span:nth-child(8)  { animation-delay: 0.7s; }
.animated-text span:nth-child(9)  { animation-delay: 0.8s; }
.animated-text span:nth-child(10) { animation-delay: 0.9s; }
.animated-text span:nth-child(11) { animation-delay: 1s; }
.animated-text span:nth-child(12) { animation-delay: 1.1s; }
.animated-text span:nth-child(13) { animation-delay: 1.2s; }
.animated-text span:nth-child(14) { animation-delay: 1.3s; }
.animated-text span:nth-child(15) { animation-delay: 1.4s; }

@keyframes fadeUp {
  0% {
        font-size: 1em;
        font-variation-settings: 'wght'100,  'SERF'100;

  }
    100% {
            font-size: 1em;
            font-variation-settings: 'wght'800,  'SERF'0;

}
}
.row .topbody{
height: 70vh;
}


  .row {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    height: 70vh;
    /* Abstand unter Header */
    scroll-behavior: smooth; /* sanftes Scrollen */
  }

  .topbody {
    /* border-bottom: 2px solid rgb(43, 13, 13); */
     margin-top: 10vh;
  }

  .lowerbody {
    /* border-top: 2px solid rgb(43, 13, 13); */
     margin-top: 0vh;
  }

  .container, .container-text {
    flex: 0 0 60vw; /* Breite für Scroll */
    height: 80%;
    contain:content;
    margin: 0vh 22vw;
    /* background: rgb(43, 13, 13); */
    /* border: 2px solid white; */
  }

  .container, .left{
    margin-left:23vw;
  }
   .container-text,.row, .lowerbody, .right{
    margin-right: 0vw !important ;
    padding-right: 8vw;
   }

  /* .lowerbody .container-text {

  } */



  #resizer {
  background: rgb(43, 13, 13);
  height: 2px;
  width: 100%;
  cursor: row-resize;
  position: absolute;
  z-index: 20;
}



a{
    font-family: Quadratur;
    /* font-variation-settings: 'wght' 200, 'SERF'100; */
    letter-spacing:1px;
    font-size: 1em;
}
.container-text{
    display: flex;
}
.box1{
    color:rgb(43, 13, 13);
    height: 100%;
    width: 45%;
    overflow: auto;
    margin:10px 10px 10px 10px;
        font-variation-settings: 'wght' 100, 'SERF'100;
}
.box2{
    color:rgb(43, 13, 13);
    height: auto;
    overflow: auto;
    width: 45%;
    margin:10px 10px 10px 10px;
    font-variation-settings: 'wght' 100, 'SERF'0;
}
/* pdfreader */
#maincontainer{
    background-color: rgb(255, 255, 255) ;
}
.toolbar{
    opacity:0;
}
iframe{
    contain: content;

    border: hidden;
    
}




