

.Entofont{
    font-family:Entofont ;
}
.Greenhound{
    font-family:Greenhound ;
}
.Missverständnis{
    font-family:Missverständnis ;
}



.blur1{

    font-family:virus-blur1 ;

}
.blur2{
    font-family:virus-blur2 ;

}
.blur3{
    font-family:virus-blur3 ;

}
.schwung{
    font-family:virus-schwung;

}
.schwung2{
    font-family:virus-schwung2 ;

}
.fett{
    font-family:virus-fett ;

}
.Sandvoss{
    font-family:Sandvoss ;

}
.EckeKante{
    font-family:EckeKante ;
}
.Digitaluhr{
    font-family:DigitalUhr ;
}
.Quadratur{
    font-family:Quadratur ;
}









body {
        font-family:Mono ;
   color: limegreen;
    background-color: black;
    margin: 0px;
      transition: all 1s;

  
 
    
 
}

h1 {
    font-size: 100px;
     font-family:Mono ;
    margin: 0;
    font-variation-settings: 'wdth' 800;
    animation: variabel 3s infinite alternate-reverse ease;
    
  
}
@keyframes variabel {
    0% { font-variation-settings: 'wdth' 400; }

    100% { font-variation-settings: 'wdth' 600; }
    
}



h2 {
    font-size: 50px;
    margin: 0;
     font-family:Mono ;
   
}



.button1 {
  position:relative;
  top:0%;
  left:5%;
  display: inline-block;
  padding: 0.25rem 0.5rem;
    color: limegreen;
  background: rgba(255, 255, 255, 0);
  border: limegreen 0px dotted;
  text-decoration: none;
  /* -webkit-text-stroke: limegreen 0.5px; */
  font-family: inherit;
  font-size:30px ;
  border-radius: 0rem;
  transition: all 0.5s;
}

.button1:hover {
  background: limegreen;
  color: black;
}
.button1:active {
  background: black;
  color: limegreen;
}

/* SLIDER */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 1px;
  background: limegreen;
  border-radius: 4px;
  border-style: dotted;
  cursor: pointer;
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: limegreen;
  border-radius: 50%;
}

/* Thumb – Firefox */
.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: black;
  border-radius: 50%;
}





/* Downloadbutton */
.download-font {
  display: inline-block;
  padding: 0rem 0.5rem;
  background: black;
  color: limegreen;
  text-decoration: none;
  font-family: inherit;
  border-radius: 0rem;
}

.download-font:hover {
  background: limegreen;
  color: black;
}
.download-font:active {
  background: black;
  color: limegreen;
}





.uberschrift {
     font-family:Mono ;
    text-align: center; 
    color: limegreen;
      background-color:black;
       
         
       /* border-color: #7a7a7a;
    border-width: 5px 3px 5px 3px;
    border-style: dotted; */
}


.Family {
     font-family:Mono ;
font-variation-settings: 'wdth' 600;
width:80%;
left:5%;
margin-top: 30px;
position: relative; 
color: limegreen;

}


.container {
    position: relative;
    left: 5%;
    margin: 10%;
    width: 90%;

    margin: -4px ;
    background: #000000;
    /* background: radial-gradient(circle,rgba(0, 255, 26, 0.58) 0%, rgba(0, 0, 0, 1) 100%); */
    
    border-radius:0%;
    border-top: 4px dotted limegreen;
    border-left: 4px dotted limegreen;
    border-right: 4px dotted limegreen;
    border-bottom: 4px dotted limegreen;
    box-sizing: border-box;
    overflow: hidden;
}

.top-row, .bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
    color: limegreen;
}








.font-specimen {
  --size: 120px;
  --line: 1;
  --tracking: 0em;
}

/* TEXTFELD */
.font-test {
    font-size: var(--size);
    line-height: var(--line);
    letter-spacing: var(--tracking);
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    padding: 24px;
    padding-bottom: 0px;
    padding-top: 50px;

    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    outline: none;
    cursor: text;
}

/* SLIDER */
.bottom-row.controls {
  display: flex;
  gap: 24px;
  padding: 16px 24px;
  border-top: 4px dotted limegreen;
}

.bottom-row.controls label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.bottom-row.controls input[type="range"] {
  width: 120px;
}




::-webkit-scrollbar {
visibility: hidden;
}


